audioread==2.1.4
cycler==0.10.0
Cython==0.25.2
decorator==4.0.10
joblib==0.10.3
Keras==1.2.0
librosa==0.4.3
matplotlib==1.5.3
numpy==1.11.3
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
resampy==0.1.4
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
Theano==0.8.2
